references/relevant_repos/aubio/
references/relevant_repos/Audio-Chord-Recognition/
references/relevant_repos/chord-detection/
references/relevant_repos/Chord-Recognition/
references/relevant_repos/ChordRecGen/
references/relevant_repos/dechorder/
swift_libs/AudioKit/
swift_libs/Tonic/
references/relevant_repos/omnizart/
